:root{
    --branco-principal:#ffffff;
    --cinza-secundário:#C0C0C0;
    --botão-azul:#167BF7;
    --cor-de-fundo:#00030C;
}
body{
   background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
*{
    margin: 0;
    padding: 0;
}
